
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/js/rcx.js"></script>
</head>
<body>
    <div> 
    </div>
    <script>
        var dt = rcx('012345678901234567890123456789', '123456');
        var t = arrayToHex(dt);
        
        hex2b64(arrayToHex(dt))
    </script>
</body>
</html>
